@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    overflow-wrap: hidden;
  }

  .container {
    @apply w-[100vw];
    @apply my-10;
    @apply flex flex-col justify-center gap-7;
  }

  #top-bar,
  #title-card,
  #skills-grid,
  #profile-intro,
  #booking,
  #bottom-bar {
    @apply mx-[10vw] sm:mx-[3vw] md:mx-[5vw];
  }

  .btn {
    @apply text-light-cream rounded-[50px] px-14 py-5 font-semibold;
  }

  .btn-arrow {
    @apply hover:bg-galactic-blue flex items-center justify-center rounded-full bg-black p-8;
    /* Tablet */
    @apply md:p-6;
    /* Mobile */
    @apply sm:p-4;
  }

  .skills {
    @apply grid grid-flow-row grid-cols-6 gap-5;
    /* For Tablet */
    @apply md:grid-cols-4;
    /* For Mobile */
    @apply sm:grid-cols-2;
  }

  .skill-card {
    @apply flex flex-col gap-3;
    @apply rounded-lg p-4;
    @apply font-semibold text-[#fff];

    & > div {
      flex-basis: 75%;

      & > img {
        float: right;
      }
    }

    & > h2 {
      flex-basis: 25%;
      display: flex;
      align-items: flex-end;
    }
  }

  .intro-card {
    @apply flex gap-[12%];
    /* Mobile */
    @apply sm:flex-col sm:items-center sm:gap-10;
  }

  .my-work-section {
    @apply my-5 flex flex-col items-center gap-10 md:gap-7;
    /* Mobile */
    @apply sm:mx-10;
  }

  .booking-card {
    @apply mb-10 grid grid-cols-3 gap-5 rounded-lg bg-black p-10;
    /* Tablet */
    @apply md:grid-cols-1 md:justify-items-center;
  }
}
